<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1> Welcome to GitPub</h1>

<style type="text/css">
body {
    background-color: darkslategray;
    color:thistle
}
</style>
<ul>
    <% for(let i = 0; i < allDrinks.length; i++){ %>
    <% const drink = allDrinks[i] %>
    <% const drinkName = drink.name %>
    <% const capDrink = drinkName.charAt(0).toUpperCase() + drinkName.slice(1) %>
      <li>
         <a href="/drinks/<%=i %> "><%=capDrink %></a>
      </li>
     <%  } %> 
  </ul>

  <ul>
    <% for(let i = 0; i < allFood.length; i++){ %>
        <% const food = allFood[i] %>
        <% const foodName = food.name %>
        <% const capFood = foodName.charAt(0).toUpperCase() + foodName.slice(1) %>
          <li>
             <a href="/food/<%=i %> "><%=capFood %></a>
          </li>
         <%  } %> 

  </ul>

</body>
</html>